<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.numad21su_vocab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD21SuVocab">
        <activity android:name=".DisplayMessagesSentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity android:name=".SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".DisplayReceivedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".SendEmojiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".UserPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>